<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*"
           UpgradeCode="777642F9-DDFA-41E7-8B28-012FCD04FCB0" 
           Name="CRASHME v2.8.4" 
           Language="1033" 
           Version="2.8.4" 
           Manufacturer="George J. Carrette">
    <Package Description="CRASHME a system robustness tester, version 2.8.4"
             Comments="CRASHME"
             Manufacturer="George J. Carrette" 
             InstallerVersion="200" 
             Compressed="yes" />
    <Property Id="ARPURLINFOABOUT" Value="http://alum.mit.edu/www/gjc/crashme.html" />
    <Property Id="ARPURLUPDATEINFO" Value="http://www.codeplex.com/crashme" />
    <Property Id="ALLUSERS" Value="1"/>

    <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />
    <WixVariable Id="WixUIBannerBmp" Value="wiener-banner-493x58.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="crashme-install-dialog-493x312.bmp" />

    <Media Id="1" Cabinet="product.cab" EmbedCab="yes" />
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="StartMenuFolder" Name="StrtFldr">
        <Directory Id="ProgramMenuFolder" Name="PrgFldr">
          <Directory Id="CRASHMEProgramsFolder" Name="CRASHME"/>
        </Directory>
      </Directory>
      
      <Directory Id="ProgramFilesFolder" Name="PFiles">
        <Directory Id="CRASHMEDIR" Name="CRASHME">
          <Component Id="CRASHMEProgram" Guid="A320292B-725D-40F5-B09A-E0B0C7735A28">
            
            <File Id="FILE00.DAT" Source="TEST1.BAT" />
            <File Id="FILE01.DAT" Source="build.bat" />
            <File Id="FILE02.DAT" Source="crashme.c" />
            <File Id="FILE03.DAT" Source="crashme.html" />
            <File Id="FILE04.DAT" Source="crashme.sln" />
            <File Id="FILE05.DAT" Source="crashme.txt" />
            <File Id="FILE06.DAT" Source="crashme.vcxproj" />
            <File Id="FILE06.DA1" Source="crashme.vcxproj.filters" />
            <File Id="FILE07.DAT" Source="crashme.wxs" />
            <File Id="FILE08.DAT" Source="license.rtf" />
            <File Id="FILE09.DAT" Source="pddet.c" />
            <File Id="FILE10.DAT" Source="pddet.vcxproj" />
            <File Id="FILE10.DA1" Source="pddet.vcxproj.filters" />
            <File Id="FILE11.DAT" Source="output/pddet/Release/x64/pddet.exe" />
            <File Id="FILE12.DAT" Source="output/crashme/Release/x64/crashme.exe" />
            <File Id="FILE13.DAT" Source="mt19937ar.c" />
            <File Id="FILE14.DAT" Source="mt19937ar.h" />
            <File Id="FILE15.DAT" Source="TEST2.BAT" />
            <File Id="FILE16.DAT" Source="SETUP.CMD" />
            <File Id="FILE17.DAT" Source="TEST3.BAT" />
            <File Id="FILE18.DAT" Source="vnsq.h" />
            <File Id="FILE19.DAT" Source="vnsq.c" />
            <File Id="FILE20.DAT" Source="TEST4.BAT" />
	    <File Id="FILE21.DAT" Source="wiener-banner-493x58.bmp" />
	    <File Id="FILE22.DAT" Source="crashme-install-dialog-493x312.bmp" />
          </Component>
        </Directory>
      </Directory>
    </Directory>
    
    <DirectoryRef Id="CRASHMEProgramsFolder">
      <Component Id="CRASHMEShortcut" Guid="33C535B1-7D07-44E6-B6C6-7E3ACF3083FA" >
        <Shortcut Id="CRASHMEShortcut01" Name="TEST1.BAT" 
                  Description="TEST 1" 
                  Directory="CRASHMEProgramsFolder" 
                  Target="[CRASHMEDIR]\TEST1.BAT" 
                  />
        <Shortcut Id="CRASHMEShortcut02" Name="TEST2.BAT" 
                  Description="TEST 2" 
                  Directory="CRASHMEProgramsFolder" 
                  Target="[CRASHMEDIR]\TEST2.BAT" 
                  />
        <Shortcut Id="CRASHMEShortcut03" Name="TEST3.BAT" 
                  Description="TEST 3" 
                  Directory="CRASHMEProgramsFolder" 
                  Target="[CRASHMEDIR]\TEST3.BAT" 
                  />
        <Shortcut Id="CRASHMEShortcut04" Name="TEST4.BAT" 
                  Description="TEST 4" 
                  Directory="CRASHMEProgramsFolder" 
                  Target="[CRASHMEDIR]\TEST4.BAT" 
                  />
        <Shortcut Id="CRASHMEShortcut05" 
                  Name="license.rtf"
                  Description="CRASHME License" 
                  Directory="CRASHMEProgramsFolder" 
                  Target="[CRASHMEDIR]\license.rtf" 
                  />
        <Shortcut Id="CRASHMEShortcut06" 
                  Name="crashme.html"
                  Description="CRASHME Documentation" 
                  Directory="CRASHMEProgramsFolder" 
                  Target="[CRASHMEDIR]\crashme.html" 
                  />
        <Shortcut Id="CRASHMEShortcut07" 
                  Name="crashme.txt"
                  Description="CRASHME Documentation" 
                  Directory="CRASHMEProgramsFolder" 
                  Target="[CRASHMEDIR]\crashme.txt" 
                  />
        <Shortcut Id="CRASHMEShortcut08" 
                  Name="Crashme"
                  Description="CRASHME Installation Folder" 
                  Directory="CRASHMEProgramsFolder" 
                  Target="[CRASHMEDIR]" 
                  />
      </Component>
    </DirectoryRef>
    
    <Feature Id="FeatureCrashme1" 
             Title="Crashme"
	     Level="1"
	     ConfigurableDirectory="CRASHMEDIR">
      <ComponentRef Id="CRASHMEProgram" />
    </Feature>
    <Feature Id="FeatureCrashme2"
	     Title="Program Menu Short Cuts"
	     Level="1"
	     ConfigurableDirectory="CRASHMEDIR">
      <ComponentRef Id="CRASHMEShortcut"/>
    </Feature>
    
    <UIRef Id="WixUI_Mondo" /> 
    
  </Product>
</Wix>
